<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Navigation</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            Customer
            <ul>
                <li><a href="/customer/list">List</a></li>
                <li><a href="/customer/add">Add</a></li>
            </ul>
        </li>
        <li>
            Album
            <ul>
                <li><a href="/album/list">List</a></li>
            </ul>
        </li>
        <li>
            Artist
            <ul>
                <li><a href="/artist/list">List</a></li>
            </ul>
        </li>
        <li>
            Genre
            <ul>
                <li><a href="/genre/list">List</a></li>
            </ul>
        </li>
        <li>
            Invoice
            <ul>
                <li><a href="/invoice/list">List</a></li>
            </ul>
        </li>
        <li>
            Track
            <ul>
                <li><a href="/track/list">List</a></li>
            </ul>
        </li>
    </ul>
</div>

<div>
    <form th:action="@{/add}" th:object="${customer}" method="post">
        <div>
            <label for="CompanyName">First Name:</label>
            <input id="CompanyName" type="text" th:field="*{firstName}" />
        </div>
        <div>
            <label for="ContactName">Last Name:</label>
            <input id="ContactName" type="text" th:field="*{lastName}" />
        </div>
        <div>
            <label for="Phone">Phone Number:</label>
            <input id="Phone" type="text" th:field="*{phone}" />
        </div>
        <div>
            <label for="Email">Email:</label>
            <input id="Email" type="text" th:field="*{email}" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>
</body>
</html>