<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    <h1>Navigation</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            Customer
            <ul>
                <li><a href="/customer/list">List</a></li>
                <li><a href="/customer/add">Add</a></li>
            </ul>
        </li>
        <li>
            Album
            <ul>
                <li><a href="/album/list">List</a></li>
            </ul>
        </li>
        <li>
            Artist
            <ul>
                <li><a href="/artist/list">List</a></li>
            </ul>
        </li>
        <li>
            Genre
            <ul>
                <li><a href="/genre/list">List</a></li>
            </ul>
        </li>
        <li>
            Invoice
            <ul>
                <li><a href="/invoice/list">List</a></li>
            </ul>
        </li>
        <li>
            Track
            <ul>
                <li><a href="/track/list">List</a></li>
            </ul>
        </li>
    </ul>

    <div>
        <h2>Search Bar</h2>
        <form th:action="@{/search}" method="get"/>
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Track name..." size="50">
        <button type="submit">Search</button>
    </div>

    <div>
        <h1>Artists</h1>
        <ul th:each="artist: ${artists}">
            <li th:text="${artist.getName()}"></li>
        </ul>
        <h1>Tracks</h1>
        <ul th:each="track: ${tracks}">
            <li th:text="${track.getName()}"></li>
        </ul>
        <h1>Genres</h1>
        <ul th:each="genre: ${genres}">
            <li th:text="${genre.getName()}"></li>
        </ul>
    </div>
</div>

</body>
</html>