<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    <h1>Navigation</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            Customer
            <ul>
                <li><a href="/customer/list">List</a></li>
                <li><a href="/customer/add">Add</a></li>
            </ul>
        </li>
        <li>
            Album
            <ul>
                <li><a href="/album/list">List</a></li>
            </ul>
        </li>
        <li>
            Artist
            <ul>
                <li><a href="/artist/list">List</a></li>
            </ul>
        </li>
        <li>
            Genre
            <ul>
                <li><a href="/genre/list">List</a></li>
            </ul>
        </li>
        <li>
            Invoice
            <ul>
                <li><a href="/invoice/list">List</a></li>
            </ul>
        </li>
        <li>
            Track
            <ul>
                <li><a href="/track/list">List</a></li>
            </ul>
        </li>
    </ul>
</div>

<div>
    <h1>Customer List</h1>
    <ul th:each="customer: ${customers}">
        <li th:text="${customer.getFirstName()}"></li>
        <li th:text="${customer.getLastName()}"></li>
        <li th:text="${customer.getPhone()}"></li>
        <li th:text="${customer.getEmail()}"></li>
        <li th:text="${customer.getCustomerCountry().getCountryName()}"></li>
        <li th:text="${customer.getCustomerCountry().getPostalCode()}"></li>
    </ul>
</div>
</body>
</html>