<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar">
  <ul>
    <li><a th:href="@{/}">Home</a></li>
    <li>Customer
      <ul>
        <li><a th:href="@{/customer/list}">List</a></li>
        <li><a th:href="@{/customer/add}">Add</a></li>
      </ul>
    </li>
    <li>Album
      <ul>
        <li><a th:href="@{/alum/list}">List</a></li>
      </ul>
    </li>
    <li>Artist
      <ul>
        <li><a th:href="@{/artist/list}">List</a></li>
      </ul>
    </li>
    <li>Genre
      <ul>
        <li><a th:href="@{/genre/list}">List</a></li>
      </ul>
    </li>
    <li>Track
      <ul>
        <li><a th:href="@{/track/list}">List</a></li>
      </ul>
    </li>
  </ul>
</nav>